/* -------------------Integration du font HomeComing----------------- */
@font-face {
  font-family: HomeComing;
  src: url(../Far-From\ Homecoming\ Updated.otf);
}
/* ---------------Style affecter a tous les elements --------------*/
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  box-sizing: border-box;
}
p {
  font-family: Montserrat;
}

/*------------------------- Styles pour navbar------------------- */
.navbar {
  background-color: #b11313;
}
nav a,
#section1 p,
#section2 p,
#section3 p,
h2 {
  color: #ffffff;
  font-family: Montserrat;
}
.mobileHeader {
  margin-left: 2%;
  padding-top: 50px;
  position: absolute;
}
/* -------------------debut style main-------------------------- */

/* -------------------section1----------------------------------*/
#section1 {
  padding: 18% 0% 18% 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../Illustration/img1.png);
}
h1 {
  color: #ffffff;
  font-family: HomeComing;
  text-transform: uppercase;
}
#section1 p {
  font-weight: bold;
}
.card-body {
  color: #ffffff;
}
/* -------------------style section2-------------------------- */
#section2,
.card,
.card-footer {
  background-color: #b11313;
}
.card,
.card-footer {
  border: none;
  width: 250px;
}

h2 {
  font-family: HomeComing;
  text-transform: uppercase;
}
.capucheNoire {
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url(../Illustration/img6.png);
}
/*-------------------------------- section3--------------------- */
#section3 {
  background-color: #114c92;
}
#section3 input {
  width: 400px;
  border-radius: 15px;
  margin-bottom: 10px;
}
#section3 .formulaires {
  padding-top: 150px;
}
/*------------------------ section4-----------------------------*/
#section4 {
  background-color: #b11313;
}
#section4 .textform {
  padding: 10%;
}

/*--------------------------- styles du footer ------------------*/
footer {
  background-color: #000000;
}
footer p {
  color: #ffffff;
}
footer li {
  list-style-type: none;
}
.btn {
  border-radius: 20px;
  width: 160px;
}
footer .btn {
  background-color: #b11313;
}
.socialMd {
  width: 40px;
  height: 40px;
  color: #ffffff;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #b11313;
}
.socialMd img {
  width: 100%;
  padding-top: 55%;
}
.dropdown-toggle::after {
  font-size: 14px;
  margin-left: 5.4em;
}
footer li a {
  font-size: 12px;
  font-family: Montserrat;
}
/* -----------------media queries------------------- */
@media (max-width: 375px) {
  .formobile {
    width: 200px !important;
  }
  #section1 .btn {
    width: 100px !important;
    margin-right: 10px;
  }
}
